---
import GA from '@/components/GA.astro'
import BaseHead from '@/components/SEO.astro'
import Header from '@/components/Header.astro'
import { SITE_DESCRIPTION, SITE_TITLE } from '@/src/lib/config'

const showGA = Astro.url.origin.includes('://rishi.app')

const {
  content: { title = SITE_TITLE, description = SITE_DESCRIPTION, image = '/static/social-media-card.jpg' },
  valid,
  className = '',
} = Astro.props

const loadDarkOnPriority = Astro.url.pathname.includes('/blog/')
const linkMedia = loadDarkOnPriority ? 'all' : 'print'
const linkOnload = loadDarkOnPriority ? '' : "this.media='all'"
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} image={image} />
    <noscript>
      <style>
        .hide-if-no-javascript {
          display: none;
        }
      </style>
    </noscript>
    <style is:inline>
      html {
        scroll-behavior: smooth;
      }
      .heading_hover_hash:hover {
        cursor: pointer;
        text-decoration: underline;
      }
      .remark-highlight {
        width: 75vw;
      }
      @media screen and (max-width: 768px) {
        .remark-highlight {
          width: 95vw;
        }
      }
      article > *:not(.remark-highlight) {
        text-align: left;
        align-self: flex-start;
        content-visibility: auto;
      }
    </style>
  </head>
  <body class={`min-h-screen bg-white font-display dark:bg-black ${className}`}>
    <Header />
    <main class="flex flex-col items-center text-black dark:text-gray-200">
      <div class="flex w-full max-w-[90vw] flex-col py-10 sm:px-10 lg:max-w-[75vw]">
        {valid && <slot />}
      </div>
    </main>
    <script defer is:inline>
      // Add listener to sessionStorage events
      const themeChangeListener = () => {
        let sessionTheme = sessionStorage.getItem('theme')
        if (sessionTheme === 'light') {
          document.documentElement.classList.remove('dark')
        } else {
          document.documentElement.classList.add('dark')
        }
      }
      // Check the theme preferred in the window acc. to the zone
      const theme = (() => {
        const params = new Proxy(new URLSearchParams(window.location.search), {
          get: (searchParams, prop) => searchParams.get(prop),
        })
        if (typeof window !== 'undefined') {
          return params.mode ? params.mode : window.sessionStorage.getItem('theme') || 'light'
        }
        if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
          return 'dark'
        }
        return 'light'
      })()
      // Set the theme as light / dark
      window.sessionStorage.setItem('theme', theme)
      themeChangeListener()
      // Toggle theme function
      const toggleTheme = () => {
        let existingTheme
        if (typeof window !== 'undefined' && window.sessionStorage.getItem('theme')) {
          existingTheme = window.sessionStorage.getItem('theme')
        }
        if (existingTheme) {
          window.sessionStorage.setItem('theme', existingTheme === 'dark' ? 'light' : 'dark')
        } else {
          window.sessionStorage.setItem('theme', 'light')
        }
        themeChangeListener()
      }
    </script>
    <link media={linkMedia} rel="stylesheet" href="/css/dark.css" onload={linkOnload} />
    {showGA && <GA CONFIG_ID={'G-C9HDQHK5SE'} />}
  </body>
</html>
